@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Styling ukuran font dari CKEditor */
.text-tiny {
  font-size: 0.7em !important;
}
.text-small {
  font-size: 0.85em !important;
}
.text-big {
  font-size: 1.4em !important;
}
.text-huge {
  font-size: 1.8em !important;
}

.ck-content ul {
  list-style: disc inside; /* bullet di dalam konten */
  color: #333;
}

.ck-content ul li::marker {
  color: #136ad5; /* ubah warna bullet */
}

@keyframes wave {
  0% { transform: scale(1); opacity: 0.6; }
  70% { transform: scale(1.8); opacity: 0; }
  100% { transform: scale(1); opacity: 0; }
}

.whatsapp-wave::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(16, 185, 129, 0.4);
  animation: wave 2s infinite ease-out;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.floating {
  animation: float 4s ease-in-out infinite;
}
